@import "tailwindcss";

.bg-grid {
  background-color: rgb(36, 47, 58);
  background-image: linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 40px 40px; /* adjust for bigger/smaller boxes */
}

