version: "3.8"

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  server:
    build: ./Server   
    ports:
      - "8001:8001"
    environment:
      - PORT=8001     
      - MONGO_URI=mongodb://mongo:27017/study-room
      - REDIS_URI=redis://redis:6379

      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET}
      - ACCESS_TOKEN_EXPIRY=${ACCESS_TOKEN_EXPIRY}
      - REFRESH_TOKEN_EXPIRY=${REFRESH_TOKEN_EXPIRY}

      - CORS_ORIGIN=${CORS_ORIGIN}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      - mongo
      - redis 

  client:
    build: ./Client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8001
      - VITE_GOOGLE_CLIENT_ID=${VITE_GOOGLE_CLIENT_ID}
    depends_on:
      - server

volumes:
  mongo-data: